<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
            https://www.springframework.org/schema/beans/spring-beans.xsd
            http://www.springframework.org/schema/context
            https://www.springframework.org/schema/context/spring-context.xsd
            http://www.springframework.org/schema/aop
            https://www.springframework.org/schema/aop/spring-aop.xsd"
       default-lazy-init="true" >
        <context:property-placeholder location="classpath:jdbc.properties" />
        <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
                <property name="driverClassName" value="${jdbc.driver}"/>
                <property name="url" value="${jdbc.url}"/>
                <property name="username" value="${jdbc.user}"/>
                <property name="password" value="${jdbc.password}"/>
        </bean>
        <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
                <property name="dataSource" ref="dataSource"/>
        </bean>
        <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
                <property name="basePackage" value="com.neau.crm.web.dao"/>
                <property name="sqlSessionFactoryBeanName" value="sqlSessionFactory"/>
                <!--<property name="configLocation" value="classpath:mybatis-config.xml"/>-->
        </bean>
        <bean id="userManager" class="com.neau.crm.web.service.serviceImpl.UserManageService">
                <property name="userDao" ref="userDao"/>
                <!--<property name="userDelDao" ref="userDelDao"/>-->
                <property name="deleteDao" ref="deleteDao"/>
        </bean>
        <bean id="userSearcher" class="com.neau.crm.web.service.serviceImpl.UserSearchService">
                <property name="userDao" ref="userDao"/>
        </bean>
        <bean id="activityManager" class="com.neau.crm.web.service.serviceImpl.ActivityManageService">
                <property name="activityDao" ref="activityDao"/>
                <!--<property name="activityDelDao" ref="activityDelDao"/>-->
                <property name="activityRemarkDao" ref="activityRemarkDao"/>
                <!--<property name="activityRemarkDelDao" ref="activityRemarkDelDao"/>-->
                <property name="deleteDao" ref="deleteDao"/>
        </bean>
        <bean id="activitySearcher" class="com.neau.crm.web.service.serviceImpl.ActivitySearchService">
                <property name="activityDao" ref="activityDao"/>
                <property name="activityRemarkDao" ref="activityRemarkDao"/>
        </bean>
        <bean id="clueManager" class="com.neau.crm.web.service.serviceImpl.ClueManageService">
                <!--<property name="activityDao" ref="activityDao"/>
                <property name="activityRemarkDao" ref="activityRemarkDao"/>-->
        </bean>
        <bean id="clueSearcher" class="com.neau.crm.web.service.serviceImpl.ClueSearchService">
                <!--<property name="activityDao" ref="activityDao"/>
                <property name="activityRemarkDao" ref="activityRemarkDao"/>-->
        </bean>
</beans>