<?xml version="1.0" encoding="UTF-8" ?>
<web-app  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xmlns="http://java.sun.com/xml/ns/javaee"
          xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
          http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
          version="2.5">
  <display-name>crm</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <context-param>
  <param-name>contextConfigLocation</param-name>
  <param-value>classpath:applicationContext.xml</param-value>
  </context-param>
  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>
  <filter>
    <filter-name>EncodingFilter</filter-name>
    <filter-class>com.neau.crm.web.controller.filter.EncodingFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>EncodingFilter</filter-name>
    <url-pattern>*.do</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>HasLoginFilter</filter-name>
    <filter-class>com.neau.crm.web.controller.filter.HasLoginFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>HasLoginFilter</filter-name>
    <url-pattern>*.do</url-pattern>
    <url-pattern>*.jsp</url-pattern>
  </filter-mapping>
  <servlet>
    <servlet-name>UserController</servlet-name>
    <servlet-class>com.neau.crm.web.controller.UserController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserController</servlet-name>
    <url-pattern>/users/login.do</url-pattern>
    <url-pattern>/users/getUserList.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ActivityController</servlet-name>
    <servlet-class>com.neau.crm.web.controller.ActivityController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ActivityController</servlet-name>
    <url-pattern>/functions/activity/getUserList.do</url-pattern>
    <url-pattern>/functions/activity/selectUserListAndActivity.do</url-pattern>
    <url-pattern>/functions/activity/save.do</url-pattern>
    <url-pattern>/functions/activity/delete.do</url-pattern>
    <url-pattern>/functions/activity/update.do</url-pattern>
    <url-pattern>/functions/activity/pageList.do</url-pattern>
    <url-pattern>/functions/activity/detail.do</url-pattern>
    <url-pattern>/functions/activity/saveRemark.do</url-pattern>
    <url-pattern>/functions/activity/updateRemark.do</url-pattern>
    <url-pattern>/functions/activity/getRemarkListByAid.do</url-pattern>
    <url-pattern>/functions/activity/deleteRemark.do</url-pattern>
  </servlet-mapping>
</web-app>