<?xml version="1.0" encoding="UTF-8" ?>
<web-app  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xmlns="http://java.sun.com/xml/ns/javaee"
          xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
          http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
          version="2.5">
  <display-name>crm</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <filter>
    <filter-name>EncodingFilter</filter-name>
    <filter-class>com.neau.crm.web.controller.filter.EncodingFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>EncodingFilter</filter-name>
    <url-pattern>*.do</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>HasLoginFilter</filter-name>
    <filter-class>com.neau.crm.web.controller.filter.HasLoginFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>HasLoginFilter</filter-name>
    <url-pattern>*.do</url-pattern>
    <url-pattern>*.jsp</url-pattern>
  </filter-mapping>
  <servlet>
    <servlet-name>UserController</servlet-name>
    <servlet-class>com.neau.crm.web.controller.UserController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserController</servlet-name>
    <url-pattern>/users/login.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ActivityController</servlet-name>
    <servlet-class>com.neau.crm.web.controller.ActivityController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ActivityController</servlet-name>
    <url-pattern>/functions/activities/select.do</url-pattern>
  </servlet-mapping>
</web-app>